{% extends "base.html" %}
{% load static %}

{% block title %}
    Logs
{% endblock %}

{% block stylesheet %}
    <style>

        table {
            width: 90%;
            border-collapse: collapse;
        }

        table tr .data {
            padding: .5rem;
            margin: .5rem;
            text-align: center;
        }

        .hr_line {
            border: 0;
            height: 1px;
            background-color: #ccc;

        }

        .data.msg {
            color: red;
        }
    </style>
{% endblock  %}

{% block sidebar %} 
    {% include "logs_sidebar.html" %}
{% endblock %}



{% block content %}
    <h1>Logs</h1>
    <form method="get" action="{% url 'logs:logs_index' %}">
        <input type="text" name="search" placeholder="Search logs..." value="{{ request.GET.search }}">
        <button type="submit">Search</button>
    </form>
    <div class="logs">
        <table>
            <tr>
                <th>Time</th>
                <th>User</th>
                <th>Error code</th>
                <th>Error message</th>
                <th>Activity</th>
                <th>Platform</th>
                <th>Platform name</th>
            </tr>
            {% for log in logs %}
                <tr>
                    <td><hr class="hr_line"></td>
                    <td><hr class="hr_line"></td>
                    <td><hr class="hr_line"></td>
                    <td><hr class="hr_line"></td>
                    <td><hr class="hr_line"></td>
                    <td><hr class="hr_line"></td>
                    <td><hr class="hr_line"></td>
                </tr>
                <tr>
                    <td class="data">{{ log.time }}</td>
                    <td class="data">{{ log.user }}</td>
                    <td class="data">{{ log.error_code }}</td>
                    <td class="data msg">{{ log.error_msg }}</td>
                    <td class="data">{{ log.activity_id }}</td>
                    <td class="data">{{ log.platform }}</td>
                    <td class="data">{{ log.platform_name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="view" id="view">

    </div>

    <script src="{% static 'js/logs.js' %}"></script>

{% endblock %}