{% extends "base.html"%}
{% load static %}

{% block title %}
    Languages
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/st.css' %}" />

{% endblock %}

{% block sidebar %}
    {% include 'st_sidebar.html' %}

{% endblock %}


{% block content %}

    <div class="form" id="form">
        <form onsubmit="fetchUrl(event, 'http://127.0.0.1:8000/skiltrix/languages/');">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="language">Language</label></td>
                    <td><input type="text" name="language" id="language" required /></td>
                </tr>
                <tr>
                    <td><label for="status">Status</label></td>
                    <td>
                        <select name="status" id="status">
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="btns_form">
                
                <button type="button" class="cancel_btn" onclick="x_into()">
                    Cancel
                </button>
                <button class="add_btn">
                    <svg width="16" height="16" fill="currentColor" class="as as-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                    Add Language
                </button>
            </div>

        </form>
    </div>

    <div id="con">
        <div class="heading_top">
            <h1>Languages</h1>
            <button type="button" class="add_btn_top" onclick="x_into()">Add language</button>
        </div>

        <br>
        <br>
        <table>
            <tr>
                <th>Name</th>
                <th>Language ID</th>
                <th>Created By</th>
                <th>Status</th>
                
                <th>Created at</th>
                
                <th>Actions</th>
            </tr>
            {% for lang in languages %}
            <tr>
                <td>{{ lang.name}}</td>
                <td data-language-id="language_id" id="{{ lang.language_id }}">{{ lang.language_id }}</td>
                <td>{{ lang.user.name }}</td>
                <td><span class="intern {{ lang.status}}">{{ lang.status}}</span></td>
                <td class="time">{{ lang.created_at}}</td>
                <td>
                    <div class="btns">
                        <button type="button">
                            <svg width="16" height="16" fill="currentColor" class="as as-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                        </button>
                        <button type="button" onclick="deleteUrl('http://127.0.0.1:8000/skiltrix/languages/', '{{ lang.language_id }}')">
                            <svg width="16" height="16" fill="currentColor" class="as as-trash" viewBox="0 0 16 16" >
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            
            {% endfor %}
        </table>
    <div>
    <script src="{% static 'js/fetch.js' %}">

    </script>
{% endblock %}