button[type="button"] {
    background: transparent;
    border: none;
}


::-webkit-scrollbar {
    width: 3px;
}

.as-eye {
    color: rgb(39, 39, 139)
}

.as-trash {
    color: red;
}

.as-pencil {
    color: blue
}

/* table tr td {
    padding: 1rem;
} */

.time {
    width: 80px;
    text-align: center;
}

.img_con {
    justify-items: center;
    text-align: center;
    justify-content: center;
    display: grid;
}

table {
    width: 100%;
}

table tr td {
    padding-top: .3rem;
    text-align: center;
}

.img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.heading_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: .5rem;
}

.heading_top .add_btn_top {
    border: 1px solid black;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    background: blue;
    cursor: pointer;
}

.intern.active {
    background: var(--success);
    color: white;
    padding: .3rem;
    border-radius: .5rem;
}


.btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form.active {
    display: block;
}

.form {
    background: white;
    display: none;
    border-radius: .5rem;
    overflow-y: auto;
    max-height: 500px;
    position: fixed;
    top: 40px;
    min-width: 350px;
    position: fixed;
    top: calc(100% - 87%);
    left: 45%;
    padding: 1rem;
    z-index: 100;
}

.description {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.btns_form {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}


.btns_form .cancel_btn {
    color: black;
}

.btns_form button {
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid black;
    margin: 10px;
    color: white;
    cursor: pointer;
}

.add_btn {
    display: flex;
    align-items: center;
    background: blue;
}


label {
    opacity: 0.8;
    float: left;
    margin-left: 0.8rem;
}

.form h1 {
    font-size: 1.5rem;
}

.form input, select, textarea {
    background: rgb(244, 244, 244);
    border-radius: .5rem;
    width: 90%;
    padding: .3rem;
    border: 1px solid black;
    padding-left: .5rem;
    padding-right: .5rem;
}


.form.active ~ #con {
    filter: blur(10px);
}


#progressContainer {
    width: 100%;
    margin-top: 15px;
}

#progressBar {
    width: 80%;
    height: 20px;
}

