{% extends "base.html" %}
{% load static %}

{% block title %}
    ASHOK SFS Blueprints
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/sfs.css' %}">
    <style>
        .edit .as {
            color: blue
        }
        .delete .as {
            color: red;
        }

        .view .as {
            color: black
        }

        .category {
            color: purple;
            background: black;
            border: 1px solid black;
            border-radius: .5rem;
            padding: .2rem;
        }
    </style>
{% endblock %}
   
{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}


{% block content %}

    <div class="">
        <h2>Blueprints</h2>
    </div>


    <div class="blueprints">
        <table>
            <tr>
                <th>Photo</th>
                <th>Categories</th>
                <th>Downloads</th>
                <th>Likes</th>
                <th>Views</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for bp in bps %}
                <tr>
                    <td>
                        <div class="bp_image">
                            <img src="https://cdn.ascentracoresolutions.com/sfs/images/{{ bp.image }}" alt="bp" class="blueprint_img" />
                            <div class="bp_con">
                                <h3>{{ bp.name }}</h3>
                                <p>{{ bp.user.name }}</p>
                            </div>
                        </div>
                    </td>
                
                    <td>
                        {% for c in bp.bp_category_bp.all %}
                            <span class="category">{{ c.category.bp_name }}</span>
                        {% endfor %}   
                    </td>
                
                    <td>{{bp.downloads }}</td>
                
                    <td>{{ bp.likes }}</td>
                    <td>{{ bp.views }}</td>
               
                    <td>{{ bp.status }}</td>
                
                    <td>
                        <div class="actions">
                            <a href="{% url 'sfs:edit_bp' %}?bp_id={{ bp.bp_id }}" class="edit">
                                <svg width="16" height="16" fill="currentColor" class="as as-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                </svg>
                            </a>
                            <a href="{% url 'sfs:upload_bp' %}" class="delete">
                            
                                <svg width="16" height="16" fill="currentColor" class="as as-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </a>
                            <a href="https://www.ascentracoresolutions.com/sfs/blueprints/blueprint?bp_id={{bp.bp_id}}" class="view">
                                <svg width="16" height="16" fill="currentColor" class="as as-chevron-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                </svg>
                            </a>
                        </div>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>

{% endblock %}
