{% extends "base.html" %}
{% load static %}


{% block title %} ASHOK SFS {% endblock%}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/sfs.css' %}" />
{% endblock %}

{% block sidebar %}
    {% include 'sfs_sidebar.html' %}
{% endblock %}


{% block content %}
    <div class="categories">
        {% for cat in categories%}
        <div class="category">

            <h1>{{ cat.bp_name }}</h1>
            <img src="{{ images }}sfs/images/{{ cat.bp_img }}" alt="category image" class="category_img">
        </div>
        {% endfor %}
    </div>
{% endblock %}