{% extends 'base.html' %}
{% load static %}

{% block title %} Upload Category (SFS) | Ascentracore Solutions{% endblock%}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/sfs.css' %}" />
    <style>
        .real_fake {
            display: flex;
            justify-content: space-evenly;
        }


        .star {
            color: red;
        }


        input[readonly] {
            background-color: #f0f0f0;
        }

        input, select, textarea {
            border: 1px solid #ccc;
            margin: 5px 0 5px 0;
            border-radius: .5rem;
            height: 30px;
            padding-left: 10px;
            padding-right: 10px;
            max-width: 250px
        }

        .real_fake {
            background: #f0f0f0;
            padding: 1rem;
            border-radius: .5rem;
            
        }

        .real, .fakes {
            padding: 1rem;
            margin: 1rem;
            text-align: center;
            background: white;
            border-radius: .5rem;

        }

        .img_thumbnail {
            width: 100px;
            height: 100px;
            border-radius: 5px;
            margin: 5px;
        }
    </style>

{% endblock %}

{% block sidebar %}
    {% include 'sfs_sidebar.html' %}
{% endblock %}
{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <label for="name">Name <span class="star"> * </span></label>
        <br>
        <input type="text" id="name" name="name" value="{{bp.name}}" required />
        <br>
        <input type="hidden" id="bp_id" value="{{bp.bp_id}}" name="bp_id" required />

        <div class="real_fake">
            <div class="real">
                <label for="real_views">Real Views <span class="star"> * </span></label>
                <br>
                <input type="number" id="real_views" value="{{bp.views}}" readonly />
                <br>
                
                <label for="real_likes">Real Likes <span class="star"> * </span></label>
                <br>
                <input type="number" id="real_likes" value="{{bp.likes}}" readonly />
                <br>
                
                <label for="real_downloads">Real Downloads <span class="star"> * </span></label>
                <br>
                <input type="number" id="real_downloads" value="{{bp.downloads}}" readonly />
                <br>

                <label for="real_shares">Real Shares <span class="star"> * </span></label>
                <br>
                <input type="number" id="real_shares" value="{{bp.share}}" readonly />
                <br>
            </div>


            <div class="fakes">
                <label for="fake_views">Fake Views <span class="star"> * </span></label>
                <br>
                <input type="number" id="fake_fviews" value="{{bp.fviews}}" name="fviews" required />
                <br>


                <label for="fake_likes">Fake Likes <span class="star"> * </span></label>
                <br>
                <input type="number" id="fake_flikes" value="{{bp.flikes}}" name="flikes" required />
                <br>

                <label for="fake_downloads">Fake downloads <span class="star"> * </span></label>
                <br>
                <input type="number" id="fake_fdownloads" value="{{bp.fdownloads}}" name="fdownloads" required />
                <br>

                <label for="fake_shares">Fake Shares <span class="star"> * </span></label>
                <br>
                <input type="number" id="fake_fshares" value="{{bp.fshare}}" name="fshares" required />
                <br>
            </div>
        </div>

        <label for="type">Type <span class="star"> * </span></label>
        <br>
        <select id="type" name="type" required>
            <option value="bp">BP</option>
            <option value="planet">Planet and worlds</option>
        </select>
        
        <br>
        <label for="link">Link <span class="star"> * </span></label>
        <br>
        <textarea type="text" id="link" name="bp_link" required >{{bp.sfs_link}}</textarea>
        
        <br>
        <br>
        <input type="submit" value="Edit BP"/>

        <h2>Images</h2>
        {% for i in img %}
        <img src="{{ images }}{{ i }}" alt="image" class="img_thumbnail">
        {% endfor %}
        
        <img src="{{ images }}sfs/images/{{ bp.image }}" alt="image" class="img_thumbnail">
    </form>

{% endblock %}