{% extends 'base.html' %}
{% load static %}

{% block title %} Upload Category (SFS) | Ascentracore Solutions{% endblock%}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/sfs.css' %}" />
    <style>
        .real_fake {
            display: flex;
            justify-content: space-evenly;
        }


        .star {
            color: red;
        }


        input[readonly] {
            background-color: #f0f0f0;
        }

        input, select {
            border: 1px solid #ccc;
            padding: 8px;
            background-color: tranparent;
            margin: 5px 0 5px 0;
            border-radius: .5rem;
            width: 100%;
            max-width: 250px
        }
    </style>

{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}
{% block content %}

    <form action="" method="POST">
        <label for="name">Name <span class="star"> * </span></label>
        <br>
        <input type="name" id="name" value="Bp" required />
        <br>

        <div class="real_fake">
            <div class="real">
                <label for="real_views">Real Views <span class="star"> * </span></label>
                <br>
                <input type="real_views" id="real_views" value="Bp" readonly />
                <br>
                
                <label for="real_likes">Real Likes <span class="star"> * </span></label>
                <br>
                <input type="real_likes" id="real_likes" value="Bp" readonly />
                <br>
                
                <label for="real_downloads">Real Downloads <span class="star"> * </span></label>
                <br>
                <input type="real_downloads" id="real_downloads" value="Bp" readonly />
                <br>

                <label for="real_shares">Real Shares <span class="star"> * </span></label>
                <br>
                <input type="real_shares" id="real_shares" value="Bp" readonly />
                <br>
            </div>


            <div class="fakes">
                <label for="fake_views">Fake Views <span class="star"> * </span></label>
                <br>
                <input type="fake_views" id="fake_views" value="Bp" name="fake_views" required />
                <br>


                <label for="fake_likes">Fake Likes <span class="star"> * </span></label>
                <br>
                <input type="fake_likes" id="fake_likes" value="Bp" name="fake_likes" required />
                <br>

                <label for="fake_downloads">Fake downloads <span class="star"> * </span></label>
                <br>
                <input type="fake_downloads" id="fake_downloads" value="Bp" name="fake_downloads" required />
                <br>

                <label for="fake_shares">Fake Shares <span class="star"> * </span></label>
                <br>
                <input type="fake_shares" id="fake_shares" value="Bp" name="fake_shares" required />
                <br>
            </div>
        </div>

        <label for="type">Type <span class="star"> * </span></label>
        <br>
        <select> 
            <option value="select" hidden>Select</option>
            <option value="Bp">BP</option>
            <option value="planet">Planet and worlds</option>
        </select>
        
        <br>
        <label for="type">Link <span class="star"> * </span></label>
        <br>
        <input type="link" id="link" value="Bp" name="link" required />
        
        <br>
        <br>
        <input type="submit" value="Edit BP"/>
    </form>

{% endblock %}