{% extends "base.html" %}
{% load static %}


{% block stylesheet %}
    <link rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="">

    </div>

    <div class="search-fields">
        <input type="" name="" />
        
    </div>

    <div class="">
        <table>
            <tr>
                <td>
                    <div class="">
                        <img src="">
                        <div class="">
                            <h3>Name</h3>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="">Creator</div>
                </td>
                
                <td>
                    <div class="">Creator</div>
                </td>
                <td>
                    <div class="">9</div>
                </td>
                <td>
                    <div class="">48,899</div>
                </td>
                <td>
                    <div class="">11/5/2005</div>
                </td>
                <td>
                    <div class="">
                        
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}