{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %} || Ascentracore Solutions</title>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="icon" href="{% static 'images/as_logo.webp' %}">
    {% block stylesheet %}
    {% endblock %}
</head>
<body>

    {% block sidebar %} {% endblock %}
    <div class="container">
        <div class="content">
            {% block content %}
            
            {% endblock %}
        </div>
    </div>

</body>
</html>